.services__text-main{
  margin: 0;
  color: #000;
  font-family: 'playfair';
  font-weight: 100;
  font-size: 3.6rem;
}
@media (max-width:420px){
  .services__text-main{
    font-size: 1.9rem;
    text-align: center;
    line-height: 40px;
  }
}