.gallery__item{
  width: 446px;
  padding-bottom: 0.5rem;
}

.gallery__item:hover{
  background-color: #fff;
  opacity: 0.4;
}

@media (max-width: 420px){
  .gallery__item{
     width: 80vw;
  }
}