.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

@media (max-width:420px){
  .header{
    height: 170px;
    position: relative;
  }
}