.footer__info-wrap{
  color: #fff;
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  font-size: 0.88rem;
  padding-top: 1.4rem;
}

@media (max-width:420px){
  .footer__info-wrap{
    flex-direction: column;
    align-items: center;
  }
}