.services__list-name{
  margin: 0;
  padding-top: 3rem;
  font-family: 'playfair';
  font-size: 3.65rem;
}

@media (max-width:420px){
  .services__list-name{
    font-size: 2.1rem;
    padding-top: 1rem;
  }
}