.services__list-gallery-wrap{
  display: flex;
  flex-direction: row;
  margin-top: 33px;
}

@media (max-width:420px){
  .services__list-gallery-wrap{
    flex-direction: column;
    margin-top: 15px;
  }
}