.services__text-link-wrap{
  padding: 10px 12px;
  margin-top: 80px;
  background: #8d0303;
}

.services__text-link-wrap:hover{
  padding: 10px 12px;
  margin-top: 80px;
  background: #000;
}

@media (max-width:420px){
  .services__text-link-wrap{
    display: none;
  }
}