.massageServices__linkWrap{
  max-width: 217px;
  padding: 10px 12px;
  margin-top: 60px;
  background: #8d0303;
  margin-bottom: 50px;
}

.massageServices__linkWrap:hover{
  background: #000;
}

@media (max-width:420px){
  .massageServices__linkWrap{
    max-width: 257px;
    padding: 14px 14px;
    background: #8d0303;
    margin: 15px 0 15px 15px;
  }
}