.footer__searches-words{  
  text-align: center;
  width: 952px;
  font-size: 0.562rem;
  color: #333c4b;
  padding-bottom: 1rem;
}

@media (max-width: 420px){
  .footer__searches-words{ font-size: 1rem;
    width: 95vw;
    padding-bottom: 7rem;
  }
}