.contacts__adress{
  margin: 0;
  padding-top: 2.2rem;
  letter-spacing: 0.17rem;
}

@media (max-width:420px){
  .contacts__adress{
    width: 320px;
    font-size: 1.2rem;
    text-align: center;
  }
}